<!-- 
  NOM DU FICHIER : animaux-intervention.page.html
  REALISATEUR : cabellic Gwenael
  DATE : 2020/01/21
  DESCRIPTION : Pages HTML des des interventions
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="retour" name="arrow-back-outline" (click)="retour()" slot="start"></ion-icon>
    <h2>Animal :  {{nomAnimal}}</h2>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Intervention: </h2>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h2>Date :</h2>
        </ion-col>
        <ion-col>
          <h2>Intervention :</h2>
        </ion-col>
        <ion-col>
          <h2>Duree :</h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item-sliding *ngFor="let Intervention of listeIntervention; let i=indice">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h2>{{Intervention.date}}</h2>
              </ion-col>
              <ion-col>
                <h2>{{Intervention.intervention}}</h2>
              </ion-col>
              <ion-col>
                <h2>{{Intervention.duree}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> 
        <ion-item-options side="start">
          <ion-button color="warning" (click)="editIntervention(Intervention,i)">Modifier</ion-button>
        </ion-item-options>
        <ion-item-options side="end">
          <ion-button color="danger" (click)="showComfirm(Intervention.id)"><ion-icon name="trash"></ion-icon>Supprimer</ion-button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Date : </ion-label>
      <ion-input type="text" [(ngModel)]="nouvelleIntervention.date" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Intervention : </ion-label>
      <ion-select [(ngModel)]="nouvelleIntervention.typeIntervention_id" placeholder="Choisir type Intervention" required>
        <ion-select-option value="1">operation</ion-select-option>
        <ion-select-option value="2">soin</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Duree : </ion-label>
      <ion-input type="text" [(ngModel)]="nouvelleIntervention.duree" placeholder="00:00:00" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1}" required></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="ajouterIntervention()">Ajouter</ion-button>
    <ion-button expand="full" color="success" (click)="modifierIntervention(nouvelleIntervention.id)">Modifier</ion-button>
  </ion-card>
</ion-content>
